# Exploratory Data Analysis

In [34]:
copy.show()

+------+--------------------+--------------------+------------+--------------------+---------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+---------------+---------+
|    id|               title|             tagline|release_date|              genres|belongs_to_collection|original_language|budget_musd|revenue_musd|production_companies|production_countries|vote_count|vote_average|popularity|runtime|            overview|    spoken_languages|         poster_path|                cast|cast_size|       director|crew_size|
+------+--------------------+--------------------+------------+--------------------+---------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+---------------+---------+
|420818|       The Lion King|The king has retu...|  2019-07-12|Adventure|Drama|F...| The Lion King (Re...|               en|      260.0| 1662.020819|Walt Disney Pictu...|United States of ...|     10328|       7.111|   97.0871|    118|Simba idolizes hi...|             English|/dzBtMocZuJbjLOXv...|Chiwetel Ejiofor|...|       20|    Jon Favreau|       45|
|299534|   Avengers: Endgame|  Avenge the fallen.|  2019-04-24|Adventure|Science...| The Avengers Coll...|               en|      356.0|   2799.4391|      Marvel Studios|United States of ...|     26262|       8.237|   73.6149|    181|After the devasta...|English|Japanese|...|/ulzhLuWrPK07P1Yk...|Robert Downey Jr....|      105|      Joe Russo|      593|
|299536|Avengers: Infinit...|Destiny arrives a...|  2018-04-25|Adventure|Action|...| The Avengers Coll...|               en|      300.0| 2052.415039|      Marvel Studios|United States of ...|     30447|       8.235|  122.0331|    149|As the Avengers a...|       English|Xhosa|/7WsyChQLEftFiDOV...|Robert Downey Jr....|       69|  Anthony Russo|      724|
| 19995|              Avatar|Enter the world o...|  2009-12-15|Action|Adventure|...|    Avatar Collection|               en|      237.0| 2923.706026|Dune Entertainmen...|United States of ...|     32172|       7.588|   25.0365|    162|In the 22nd centu...|     English|Spanish|/kyeqWdyUXW608qlY...|Sam Worthington|Z...|       65|  James Cameron|      986|
|135397|      Jurassic World|   The park is open.|  2015-06-06|Action|Adventure|...| Jurassic Park Col...|               en|      150.0| 1671.537444|Amblin Entertainm...|United States of ...|     20655|       6.694|   16.3746|    124|Twenty-two years ...|             English|/rhr4y79GpxQF9Isf...|Chris Pratt|Bryce...|       52|Colin Trevorrow|      423|
|140607|Star Wars: The Fo...|Every generation ...|  2015-12-15|Adventure|Action|...| Star Wars Collection|               en|      245.0| 2068.223624|Lucasfilm Ltd.|Ba...|United States of ...|     19701|       7.261|   14.9727|    136|Thirty years afte...|             English|/wqnLdwVXoBjKibFR...|Harrison Ford|Mar...|      182|    J.J. Abrams|      257|
| 24428|        The Avengers|Some assembly req...|  2012-04-25|Science Fiction|A...| The Avengers Coll...|               en|      220.0| 1518.815515|      Marvel Studios|United States of ...|     31648|       7.741|   33.3085|    143|When an unexpecte...|English|Hindi|Rus...|/RYMX2wcKCBAr24Uy...|Robert Downey Jr....|      112|    Joss Whedon|      631|
|168259|           Furious 7|Vengeance hits home.|  2015-04-01|Action|Thriller|C...| The Fast and the ...|               en|      190.0|      1515.4|Original Film|One...|United States of ...|     10781|       7.226|   14.5569|    137|Deckard Shaw seek...|Arabic|English|Sp...|/wurKlC3VKUgcfsn0...|Vin Diesel|Paul W...|       48|      James Wan|      223|
|351286|Jurassic World: F...|   The park is gone.|  2018-06-06|Action|Adventure|...| Jurassic Park Col...|               en|      170.0| 1310.466296|Amblin Entertainm...|United States of ...|     12026|       6.538|   72.0926|    129|Three years after...|     English|Russian|/270MrJNqJovumHXG...|Chris Pratt|Bryce...|       39|    J.A. Bayona|      381|
|260513|       Incredibles 2|It's been too lon...|  2018-06-14|Action|Adventure|...| The Incredibles C...|               en|      200.0| 1242.805359|Walt Disney Pictu...|United States of ...|     13040|       7.454|   10.1075|    118|Elastigirl spring...|             English|/9lFKBtaVIhP7E2Pk...|Craig T. Nelson|H...|       48|      Brad Bird|      259|
|109445|              Frozen|Only the act of t...|  2013-11-20|Animation|Family|...|    Frozen Collection|               en|      150.0| 1274.219009|Walt Disney Pictu...|United States of ...|     16823|       7.247|   20.4818|    102|Young princess An...|             English|/m4uhSpErBKprhscl...|Kristen Bell|Idin...|       60|     Chris Buck|      284|
|181808|Star Wars: The La...|Darkness rises......|  2017-12-13|Adventure|Action|...| Star Wars Collection|               en|      200.0|  1332.69883|      Lucasfilm Ltd.|United States of ...|     15562|         6.8|   91.5889|    152|Rey develops her ...|             English|/kOVEVeg59E0wsnXm...|Mark Hamill|Carri...|      110|   Rian Johnson|      213|
|330457|           Frozen II|The past is not w...|  2019-11-20|Family|Animation|...|    Frozen Collection|               en|      150.0| 1453.683476|Walt Disney Pictu...|United States of ...|      9885|       7.249|   13.0328|    103|Elsa, Anna, Krist...|             English|/mINJaa34MtknCYl5...|Kristen Bell|Idin...|       64|   Jennifer Lee|       39|
| 12445|Harry Potter and ...|        It all ends.|  2011-07-12|   Fantasy|Adventure| Harry Potter Coll...|               en|      125.0| 1341.511219|Warner Bros. Pict...|United Kingdom|Un...|     20983|       8.087|    19.562|    130|Harry, Ron and He...|             English|/c54HpQmuwXjHq2C9...|Daniel Radcliffe|...|      104|    David Yates|      154|
|284054|       Black Panther| Long live the king.|  2018-02-13|Action|Adventure|...| Black Panther Col...|               en|      200.0| 1349.926083|      Marvel Studios|United States of ...|     22517|       7.373|   87.9532|    135|King T'Challa ret...|English|Korean|Sw...|/uxzzxijgPIY7slzF...|Chadwick Boseman|...|       66|   Ryan Coogler|      561|
| 99861|Avengers: Age of ...| A new age has come.|  2015-04-22|Action|Adventure|...| The Avengers Coll...|               en|      365.0| 1405.403694|      Marvel Studios|United States of ...|     23377|       7.271|    24.122|    141|When Tony Stark t...|             English|/4ssDuvEDkSArWEdy...|Robert Downey Jr....|       72|    Joss Whedon|      636|
+------+--------------------+--------------------+------------+--------------------+---------------------+-----------------+-----------+------------+--------------------+--------------------+----------+------------+----------+-------+--------------------+--------------------+--------------------+--------------------+---------+---------------+---------+

Identifying the Best and Worst Performing Movies based on key metrics

Creating a UDF to streamline ranking operations

In [35]:
def rank_movies(copy, column, ascending=False, filter_condition=None, n=10):
    """
    Rank movies based on a column with optional filtering
    """
    if filter_condition:
        filtered_data = copy.filter(filter_condition)
    else:
        filtered_data= copy

    if ascending:
        ranked_data = filtered_data.orderBy(col(column).asc())
    else:
        ranked_data = filtered_data.orderBy(col(column).desc())

    return ranked_data.limit(n)

Top Rated Movies based on Key Performance Indicators (KPIs)

In [36]:
# Displaying top 10 ranked movies based on Highest Revenue
# The UDF was called to perform this action
highest_revenue = rank_movies(copy, "revenue_musd")
highest_revenue.select("title", "revenue_musd").show(10)

+--------------------+------------+
|               title|revenue_musd|
+--------------------+------------+
|              Avatar| 2923.706026|
|   Avengers: Endgame|   2799.4391|
|Star Wars: The Fo...| 2068.223624|
|Avengers: Infinit...| 2052.415039|
|      Jurassic World| 1671.537444|
|       The Lion King| 1662.020819|
|        The Avengers| 1518.815515|
|           Furious 7|      1515.4|
|           Frozen II| 1453.683476|
|Avengers: Age of ...| 1405.403694|
+--------------------+------------+

In [37]:
# Ranking movies based on Highest Budget
highest_budget = rank_movies(copy, "budget_musd", ascending=False)
highest_budget.select("title", "budget_musd").show(10)

+--------------------+-----------+
|               title|budget_musd|
+--------------------+-----------+
|Avengers: Age of ...|      365.0|
|   Avengers: Endgame|      356.0|
|Avengers: Infinit...|      300.0|
|       The Lion King|      260.0|
|Star Wars: The Fo...|      245.0|
|              Avatar|      237.0|
|        The Avengers|      220.0|
|       Incredibles 2|      200.0|
|Star Wars: The La...|      200.0|
|       Black Panther|      200.0|
+--------------------+-----------+

In [38]:
# Ranked movies based on Highest Profit by deducting the budget amount from the Revenue generated.
copy = copy.withColumn("profit_musd", col("revenue_musd") - col("budget_musd"))
highest_profit = rank_movies(copy, "profit_musd")
highest_profit.select("title", "profit_musd").show()

+--------------------+------------------+
|               title|       profit_musd|
+--------------------+------------------+
|              Avatar|       2686.706026|
|   Avengers: Endgame|         2443.4391|
|Star Wars: The Fo...|1823.2236240000002|
|Avengers: Infinit...|       1752.415039|
|      Jurassic World|       1521.537444|
|       The Lion King|       1402.020819|
|           Furious 7|            1325.4|
|           Frozen II|       1303.683476|
|        The Avengers|       1298.815515|
|Harry Potter and ...|       1216.511219|
+--------------------+------------------+

**Low Profit Movies:** The *rank_movies* function created above, orders the profit column in descending order, then shows the last 10 movie titles at the bottom.

In [39]:
copy = copy.withColumn("profit_musd", col("revenue_musd") - col("budget_musd"))
lowest_profit = rank_movies(copy, "profit_musd", ascending=True)
lowest_profit.select("title", "profit_musd").show()

+--------------------+-----------+
|               title|profit_musd|
+--------------------+-----------+
|Avengers: Age of ...|1040.403694|
|       Incredibles 2|1042.805359|
|              Frozen|1124.219009|
|Star Wars: The La...| 1132.69883|
|Jurassic World: F...|1140.466296|
|       Black Panther|1149.926083|
|Harry Potter and ...|1216.511219|
|        The Avengers|1298.815515|
|           Frozen II|1303.683476|
|           Furious 7|     1325.4|
+--------------------+-----------+

ROI for each movie title is calculated, a filter is applied to the budget_musd column to calculate the ROI for movies whose budget are less or equal to 10M.

In [42]:
# Highest ROI
copy.filter(col("budget_musd") >= 10).select(col("title"), (col("revenue_musd") / col("budget_musd")).alias("ROI")).orderBy(col("ROI").desc()).show(5)

+--------------------+-----------------+
|               title|              ROI|
+--------------------+-----------------+
|              Avatar|12.33631234599156|
|      Jurassic World|      11.14358296|
|Harry Potter and ...|     10.732089752|
|           Frozen II|9.691223173333332|
|              Frozen|8.494793393333333|
+--------------------+-----------------+
only showing top 5 rows

Same thing in the 'Highest ROI' code block is applied here, but the ROI column was ordered in ascending order in order to display only the ROI of movies with Budget ≥ 10M.

In [44]:
# Lowest ROI
copy.filter(col("budget_musd") >= 10).select(col("title"), (col("revenue_musd") / col("budget_musd")).alias("ROI")).orderBy(col("ROI").asc()).show(5)

+--------------------+------------------+
|               title|               ROI|
+--------------------+------------------+
|Avengers: Age of ...| 3.850421079452055|
|       Incredibles 2|       6.214026795|
|       The Lion King|6.3923877653846155|
|Star Wars: The La...|        6.66349415|
|       Black Panther|       6.749630415|
+--------------------+------------------+
only showing top 5 rows

**Most Voted Movies**

In [45]:
# Most Voted Movies
most_voted = rank_movies(copy, "vote_count")
most_voted.select("title", "vote_count").show()

+--------------------+----------+
|               title|vote_count|
+--------------------+----------+
|              Avatar|     32172|
|        The Avengers|     31648|
|Avengers: Infinit...|     30447|
|   Avengers: Endgame|     26262|
|Avengers: Age of ...|     23377|
|       Black Panther|     22517|
|Harry Potter and ...|     20983|
|      Jurassic World|     20655|
|Star Wars: The Fo...|     19701|
|              Frozen|     16823|
+--------------------+----------+

In [47]:
# Highest Rated Movies
highest_rated = rank_movies(copy, "vote_average", ascending=False)
highest_rated.select("title", "vote_average").show()

+--------------------+------------+
|               title|vote_average|
+--------------------+------------+
|   Avengers: Endgame|       8.237|
|Avengers: Infinit...|       8.235|
|Harry Potter and ...|       8.087|
|        The Avengers|       7.741|
|              Avatar|       7.588|
|       Incredibles 2|       7.454|
|       Black Panther|       7.373|
|Avengers: Age of ...|       7.271|
|Star Wars: The Fo...|       7.261|
|           Frozen II|       7.249|
+--------------------+------------+

In [52]:
# Lowest Rated movies
lowest_rated = rank_movies(copy, "vote_average", ascending=True)
lowest_rated.select("title", "vote_average").show()

+--------------------+------------+
|               title|vote_average|
+--------------------+------------+
|Jurassic World: F...|       6.538|
|      Jurassic World|       6.694|
|Star Wars: The La...|         6.8|
|       The Lion King|       7.111|
|           Furious 7|       7.226|
|              Frozen|       7.247|
|           Frozen II|       7.249|
|Star Wars: The Fo...|       7.261|
|Avengers: Age of ...|       7.271|
|       Black Panther|       7.373|
+--------------------+------------+

In [53]:
# Most Popular Movies
most_popular = rank_movies(copy, "popularity")
most_popular.select("title", "popularity").show()

+--------------------+----------+
|               title|popularity|
+--------------------+----------+
|Avengers: Infinit...|  122.0331|
|       The Lion King|   97.0871|
|Star Wars: The La...|   91.5889|
|       Black Panther|   87.9532|
|   Avengers: Endgame|   73.6149|
|Jurassic World: F...|   72.0926|
|        The Avengers|   33.3085|
|              Avatar|   25.0365|
|Avengers: Age of ...|    24.122|
|              Frozen|   20.4818|
+--------------------+----------+



---

# Advanced Movies Filtering and Search Queries

Filtering the dataset based on specific queries

* Search 1

In [58]:
sci_fi_action_bruce = copy.filter(col("genres").like("%Science Fiction%") &
                                  col("genres").like("%Action%") &
                                  col("cast").like("%Bruce Willis%")
                                  ).orderBy(col("vote_average").desc())
sci_fi_action_bruce.select("title", "vote_average", "genres", "cast").show(truncate=False)

+-----+------------+------+----+
|title|vote_average|genres|cast|
+-----+------------+------+----+
+-----+------------+------+----+

* Search 2

In [59]:
uma_quentin_movies = copy.filter((col("cast").like("%Uma Thurman%")) & (col("director") == "Quentin Tarantino")).orderBy(col("runtime").asc())
uma_quentin_movies.select("title", "runtime").show()

+-----+-------+
|title|runtime|
+-----+-------+
+-----+-------+